
<% if (!locals.user){ %>        
        <center>
            <div class="whole-part">
                <div class="heading">
                <h1>
                     Codeial
                </h1>
                 
                </div>
                
            <div class="content">
                <h3>Mastermind Better <br>
                    Succeed Together</h3>
                <div>
                  
                  Get meaningfull results with essential tools for goal setting and accountability.
              </div>
              
            </div>
            <div class="sign-in-up-home">
            <a href="/users/sign-in">
            
                Sign In
            
            </a>
            </div>
            <div class="sign-in-up-home">
            <a href="/users/sign-up">
                
                    Sign Up
                
                </a>
                </div>
        </div>
        </center>
        <% } %>